@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poetsen+One&display=swap');



.containerCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    
}
.container {
    min-height: 100vh;
    max-width: 1250px;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden; /* Utilizado par os cards não sairem do contianer */
}

.nome{
    margin-top: 2rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #00BFB3;
    font-size: 2em;
}
